# Data Manipulation

This code will let me do some data manipulation for the flooding dataset, particularly the flood insurance policy and loss statistics.

In [1]:
import pandas as pd

In [2]:
# Load the dataset
df = pd.read_csv('Datasets/Flood_Insurance_Policy_and_Loss_Statistics.csv')

df

,Coverage Type,State,Rated Flood Zones,Policies in Force,Premium + FPF,Total Annual Payment,Building Coverage,Contents Coverage,Total Coverage
0,GRAND TOTAL,NaN,NaN,"4,684,736","$4,097,252,107","$5,103,985,036","$1,042,641,718,200","$243,439,774,000","$1,286,081,492,200"
1,Building & Contents,ALABAMA,All A Zones,"13,907","$15,735,499","$19,634,586","$3,151,565,000","$919,045,000","$4,070,610,000"
2,Building & Contents,ALABAMA,All V Zones,"4,504","$3,652,791","$4,661,621","$1,087,999,000","$135,351,000","$1,223,350,000"
3,Building & Contents,ALABAMA,Unknown or Invalid,38,"$32,569","$40,410","$8,479,000","$3,274,000","$11,753,000"
4,Building & Contents,ALABAMA,X Zone,"9,663","$7,832,439","$9,797,884","$2,340,483,000","$857,611,000","$3,198,094,000"
...,...,...,...,...,...,...,...,...,...
654,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
655,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
656,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
657,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
658,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# Ensure column names are consistent
df.columns = df.columns.str.strip()

In [4]:
# Clean and convert 'Policies in Force' to numeric
df['Policies in Force'] = df['Policies in Force'].str.replace(',', '').str.replace('$', '')
df['Policies in Force'] = pd.to_numeric(df['Policies in Force'], errors='coerce')

# Task 1: Aggregate Data by State
# Group by state and sum 'Policies in Force'
state_totals = df.groupby('State', as_index=False)['Policies in Force'].sum()
state_totals.rename(columns={'Policies in Force': 'Total Policies in Force'}, inplace=True)
# Merge the total back into the original dataframe
df = pd.merge(df, state_totals, on='State', how='left')

In [5]:
df

,Coverage Type,State,Rated Flood Zones,Policies in Force,Premium + FPF,Total Annual Payment,Building Coverage,Contents Coverage,Total Coverage,Total Policies in Force
0,GRAND TOTAL,NaN,NaN,4684736.0,"$4,097,252,107","$5,103,985,036","$1,042,641,718,200","$243,439,774,000","$1,286,081,492,200",NaN
1,Building & Contents,ALABAMA,All A Zones,13907.0,"$15,735,499","$19,634,586","$3,151,565,000","$919,045,000","$4,070,610,000",47475.0
2,Building & Contents,ALABAMA,All V Zones,4504.0,"$3,652,791","$4,661,621","$1,087,999,000","$135,351,000","$1,223,350,000",47475.0
3,Building & Contents,ALABAMA,Unknown or Invalid,38.0,"$32,569","$40,410","$8,479,000","$3,274,000","$11,753,000",47475.0
4,Building & Contents,ALABAMA,X Zone,9663.0,"$7,832,439","$9,797,884","$2,340,483,000","$857,611,000","$3,198,094,000",47475.0
...,...,...,...,...,...,...,...,...,...,...
654,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
655,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
656,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
657,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
658,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# Task 2: Calculate Percentages
# Calculate percentage of policies in each flood zone relative to the state's total
df['Percentage of State Total'] = (df['Policies in Force'] / df['Total Policies in Force']) * 100

In [7]:
df

,Coverage Type,State,Rated Flood Zones,Policies in Force,Premium + FPF,Total Annual Payment,Building Coverage,Contents Coverage,Total Coverage,Total Policies in Force,Percentage of State Total
0,GRAND TOTAL,NaN,NaN,4684736.0,"$4,097,252,107","$5,103,985,036","$1,042,641,718,200","$243,439,774,000","$1,286,081,492,200",NaN,NaN
1,Building & Contents,ALABAMA,All A Zones,13907.0,"$15,735,499","$19,634,586","$3,151,565,000","$919,045,000","$4,070,610,000",47475.0,29.293312
2,Building & Contents,ALABAMA,All V Zones,4504.0,"$3,652,791","$4,661,621","$1,087,999,000","$135,351,000","$1,223,350,000",47475.0,9.487098
3,Building & Contents,ALABAMA,Unknown or Invalid,38.0,"$32,569","$40,410","$8,479,000","$3,274,000","$11,753,000",47475.0,0.080042
4,Building & Contents,ALABAMA,X Zone,9663.0,"$7,832,439","$9,797,884","$2,340,483,000","$857,611,000","$3,198,094,000",47475.0,20.353870
...,...,...,...,...,...,...,...,...,...,...,...
654,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
655,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
656,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
657,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
658,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
# Sort the data to group Coverage Type for the same state
df = df.sort_values(by=['State', 'Coverage Type'], ascending=[True, True])

In [9]:
# Ensure 'State' column is properly formatted: Capitalize first letters
df["State"] = df["State"].str.title().str.strip()

# Display the result
df

,Coverage Type,State,Rated Flood Zones,Policies in Force,Premium + FPF,Total Annual Payment,Building Coverage,Contents Coverage,Total Coverage,Total Policies in Force,Percentage of State Total
1,Building & Contents,Alabama,All A Zones,13907.0,"$15,735,499","$19,634,586","$3,151,565,000","$919,045,000","$4,070,610,000",47475.0,29.293312
2,Building & Contents,Alabama,All V Zones,4504.0,"$3,652,791","$4,661,621","$1,087,999,000","$135,351,000","$1,223,350,000",47475.0,9.487098
3,Building & Contents,Alabama,Unknown or Invalid,38.0,"$32,569","$40,410","$8,479,000","$3,274,000","$11,753,000",47475.0,0.080042
4,Building & Contents,Alabama,X Zone,9663.0,"$7,832,439","$9,797,884","$2,340,483,000","$857,611,000","$3,198,094,000",47475.0,20.353870
244,Building Only,Alabama,All A Zones,13790.0,"$9,966,977","$12,627,957","$2,732,092,800",$-,"$2,732,092,800",47475.0,29.046867
...,...,...,...,...,...,...,...,...,...,...,...
654,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
655,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
656,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
657,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
658,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df.to_csv('Processed_Flood_Data.csv', index=False)